{% extends "blog/base.html" %}
       

  {% block navi %}
  {% if user.is_authenticated%}
  <a class="nav-item nav-link" href="{%url 'dashboard'  %}"><span class="glyphicon glyphicon-user"></span>Dashboard</a>
  <a class="nav-item nav-link" href="{%url 'logout'%}">Logout</a>
          
  {%else%}
  <a class="nav-item nav-link" href="{%url 'login'%}">Login</a>
          <a class="nav-item nav-link" href="{%url 'register'%}">Register</a>
  {%endif%}
  {%endblock%}

 {%block body%}

 	{%if post_list%}
 	{%for post in post_list%}
 <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.user.username }}</a>
              <small class="text-muted">{{ post.pub_date }}</small>
            </div>
            <h2><a class="article-title" href="{%url 'detail' post.id%}"><u>{{ post.title }}</u></a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div></article>

 	{%endfor%}
  {%else%}
     <article class="media content-section">
          <div class="media-body">
            
            <h1><center>No posts yet</center></h1>
          </div></article>
 	{%endif%}


 {%endblock%}






